body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.customers__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.customers__header-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 7px;
}
.customers__header-active {
  color: #38a169;
  padding-bottom: 40px;
}
.customers__table-container {
  overflow-x: auto;
}
.customers__table {
  width: 100%;
  border-collapse: collapse;
}
.customers__table-row--header {
  border-bottom: 1px silid rgb(200, 196, 196);
}
.customers__table-header {
  padding: 12px;
  text-align: left;
  color: rgb(181, 183, 192);
  font-weight: 400;
  font-size: 14px;
  border-bottom: 2px solid #e2e8f0;
}
.customers__table-cell {
  padding: 12px;
  border-bottom: 1px solid #e2e8f0;
  font-size: 14px;
}
.customers__table-cell--status {
  font-weight: 400;
}
.customers__table-cell--status--active {
  color: #38a169;
  padding: 4px 18px;
  border: 1px solid #38a169;
  border-radius: 4px;
  background-color: rgba(22, 192, 152, 0.38);
}
.customers__table-cell--status--inactive {
  color: #e53e3e;
  padding: 4px 12px;
  border: 1px solid #e53e3e;
  border-radius: 4px;
  background-color: #ffc5c5;
}
.customers__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.customers__footer-data {
  color: rgb(181, 183, 192);
}

.search {
  background-color: rgb(234, 238, 247);
  background-color: F9FBFF;
  border-radius: 4px;
  position: relative;
}
.search__icon {
  position: absolute;
  top: 56%;
  left: 0.8rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 0;
}
.search__input {
  background-color: transparent;
  padding: 10px 80px 10px 40px;
  border: none;
  height: 100%;
  border-radius: 4px;
}

.user {
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-top: 500px;
}
.user__data {
  margin-left: 12px;
}
.user__data--name {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.014rem;
}
.user__data--profession {
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.012rem;
  color: rgb(179, 175, 175);
  font-weight: 300;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination__control {
  width: 25px;
  height: 25px;
  border: none;
  background-color: #f5f5f5;
  color: #6b6b6b;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.pagination__control:hover {
  background-color: white;
  color: #fff;
}
.pagination__control--prev, .pagination__control--next {
  color: #6b6b6b;
  border: 1px solid rgb(229, 227, 227);
  width: 25px;
  height: 25px;
}
.pagination__control--prev:hover, .pagination__control--next:hover {
  background-color: #6b3eff;
  color: #fff;
}
.pagination__control--prev:disabled, .pagination__control--next:disabled {
  background-color: white;
  color: #b8b8b8;
  cursor: not-allowed;
}
.pagination__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 aut0;
}
.pagination__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  font-size: 18px;
  background-color: #f5f5f5;
  color: #6b6b6b;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgb(229, 227, 227);
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.pagination__page--active {
  background-color: #6b3eff;
  color: #f8f6f6;
}
.pagination__page--ellipsis {
  pointer-events: none;
  cursor: default;
  background-color: transparent;
  border: none;
}
.pagination__page:hover:not(.pagination__page--active) {
  background-color: white;
  color: #fff;
}

.sidebar {
  width: 250px;
  background-color: #fafbff;
  padding: 20px;
}
.sidebar__logo {
  margin-bottom: 10px;
}
.sidebar__item {
  padding: 11px;
  font-size: 14px;
  color: #b5b7c0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.sidebar__item img.icon {
  margin-right: 10px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.sidebar__item img.chevrolet {
  margin-left: auto;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.sidebar__item--text {
  color: black;
}
.sidebar__item--text:hover, .sidebar__item--text:active {
  color: #fff;
}
.sidebar__item:hover {
  background-color: #6b3eff;
  color: #fff;
}
.sidebar__item:hover img.icon {
  color: #fff;
}
.sidebar__item--active {
  background-color: #6b3eff;
  color: #fff;
}
.sidebar__item--active img.icon {
  color: #fff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header__menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__menu-btn {
    display: block;
  }
}
.header__title {
  font-size: 24px;
  margin: 0;
}

.sidebar {
  width: 250px;
  background-color: #fafbff;
  padding: 20px;
  border-radius: 8px;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.sidebar--visible {
  left: 0;
}
.sidebar__item {
  padding: 15px 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #4a4a4a;
  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.sidebar__item i.icon {
  margin-right: 10px;
  color: #4a4a4a;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.sidebar__item:hover {
  background-color: #9271ff;
  color: #fff;
}
.sidebar__item:hover i.icon {
  color: #fff;
}
.sidebar__item--active {
  background-color: #6b3eff;
  color: #fff;
}
.sidebar__item--active i.icon {
  color: #fff;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
    left: -250px;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }
  .sidebar--visible {
    left: 0;
  }
}
.dashboard {
  background-color: rgb(224, 230, 243);
  width: 100%;
}
.dashboard__main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 71px;
  padding-right: 71px;
  padding-top: 20px;
  padding-bottom: 258px;
}
.dashboard__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.dashboard__content {
  background-color: rgb(253, 253, 254);
  padding: 20px;
  border-radius: 8px;
}

.conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .conteiner {
    margin-top: 106px;
    margin-left: auto;
    margin-right: auto;
  }
  .conteiner__main {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .sidebar {
    width: 100%;
    height: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: none;
  }
  .customers__header-title {
    font-size: 14px;
  }
  .customers__header-active {
    font-size: 10px;
  }
  .customers__table__row {
    display: block;
    margin-bottom: 20px;
  }
  .customers__table__cell {
    display: block;
    padding: 8px 12px;
    border: none;
  }
  .customers__footer-data {
    display: none;
  }
  .search__input {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */