.dashboard {
  //   display: flex;
  background-color: rgb(224, 230, 243);
  width: 100%;
  &__main {
    flex-grow: 1;
    padding-left: 71px;
    padding-right: 71px;
    padding-top: 20px;
    padding-bottom: 258px;
    //     height: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__content {
    background-color: rgb(253, 253, 254);
    padding: 20px;
    border-radius: 8px;
  }
}

.conteiner {
  display: flex;
}

@media screen and (max-width: 768px) {
  .conteiner {
    margin-top: 106px;
    margin-left: auto;
    margin-right: auto;

    &__main {
      order: 1;
    }
  }
  .sidebar {
    width: 100%;
    height: 100%;
    order: 2;
    display: none;
  }

  .customers__header {
    &-title {
      font-size: 14px;
    }
    &-active {
      font-size: 10px;
    }
  }
  .customers__table {
    &__row {
      display: block;
      margin-bottom: 20px;
    }

    &__cell {
      display: block;
      padding: 8px 12px;
      border: none;
    }
  }

  .customers__footer {
    &-data {
      display: none;
    }
  }
  .search__input {
    width: 100%;
  }
}
